<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>D2Z - Membership</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3                                                                                                                                                                                                                            
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    .login-form {
      margin-top: 50px; 
    }
  </style>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/d2z/main" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">D2Z</h1>
      </a>
      <a href="/d2z/main" class="active">Home<br></a>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </div>
  </header>

 
	<main class="main" style="min-height: 80vh;">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
      <div class="login-form p-5 shadow-lg rounded">
        <h2 class="text-left mb-3">회원가입</h2>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        	<input type = "radio" value = "사업체" id = "businessRadio" name="checkRadio" class="btn-check" autocomplete="off">
			<label class="btn btn-outline-primary" for="businessRadio">사업장 가입</label>
			
	        <input type = "radio" value = "엔지니어" id = "engineerRadio" name="checkRadio" class="btn-check" autocomplete="off">
	        <label class="btn btn-outline-primary" for="engineerRadio">엔지니어 가입</label>
        </div>
        <form action="/d2z/member" method="post" id="signup">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	        <input type="text" value="엔지니어" name="usertype" id="radio1" hidden>
	        <br>
	        <br>
	        <div id = "engineer" style="display: none;">
	          <div class="mb-3"> 
	            <label for="username" class="form-label">아이디</label>
	            <input type="text" class="form-control" id="username" name="id" required>
	          </div>
	          <div class="mb-3">
	            <label for="password" class="form-label">비밀번호</label>
	            <input type="password" class="form-control" id="password" name="pw" required>
	          </div>
	          <div class="mb-3">
	            <label for="name" class="form-label">성 명</label>
	            <input type="text" class="form-control" id="name" name="engineerUserName" required>
	          </div>
	          <div class="mb-3">
	            <label for="birthday" class="form-label">생년 월일</label>
	            <input type="text" class="form-control" id="birthday" placeholder="ex> 19990101" name="engineerUserBirth" required>
	          </div>
	          <div class="mb-3">
	            <label for="address" class="form-label">주 소</label>
	            <input type="text" class="form-control" id="address" name="engineerUserAdd" style="width: 500px;" required>
	          </div>
	          <div class="mb-3">
	            <label for="tel" class="form-label">연 락 처</label>
	            <input type="text" class="form-control" id="tel" name="engineerUserTel" required>
	          </div>
	          <div class="mb-3">
	            <label for="carrer" class="form-label">경 력</label>
	            <input type="number" class="form-control" id="career" name="engineerUserCareer" step="0.1" required>
	          </div>
	          <div class="mb-3">
	            <label for="majorCompany" class="form-label">주요 근무 업체</label>
	            <input type="text" class="form-control" id="majorCompany" name="engineerUserMajorCompany" required>
	          </div>
	          <div class="mb-3">
	            <label for="engineerUserPosition" class="form-label">전 직 급</label>
	            <input type="text" class="form-control" id="engineerUserPosition" name="engineerUserPosition" required>
	          </div>
	          <div class="mb-3">
	            <label for="guide" class="form-label">주분야</label>&nbsp; &nbsp;  
	            	<select name="engineerUserJob">
	            		<option value="주조">주조</option>
	            		<option value="가공">가공</option>
	            		<option value="후처리">후처리</option>
	            		<option value="금형">금형</option>
	            		<option value="설비">설비</option>
	            		<option value="품질">품질</option>
	            		<option value="생산">생산</option>
	            		<option value="안전">안전</option>
	            		<option value="기타">기타</option>
	            	</select>
	          </div>
	          <div class="mb-3">
	            <label for="email" class="form-label">이메일</label>
	            <input type="text" class="form-control" id="email" name="engineerUserEmail" required>
	          </div>
	            <div class="mb-3">
	            <label for="etc" class="form-label">기 타</label>
	            <input type="text" class="form-control" id="etc" name="engineerUserNote" placeholder="지도분야를 기타로 선택하신분은 지도분야를 꼭 적어주세요">
	          </div>
	          <button type="submit" class="btn btn-primary">회원가입</button>
	        </div>
        </form>
		
		<form action="/d2z/member" method="post" id="signup">
			<input type="text" value="사업체" name="usertype" id="radio1" hidden>
	          <div id = "business" style="display: none">
	            <div class = "mb-3">
	              <label for="username" class="form-label">아이디</label>
	              <input type="text" class="form-control" id="username" name="id" required>
	            </div>
	            <div class="mb-3">
	              <label for="password" class="form-label">비밀번호</label>
	              <input type="password" class="form-control" id="password" name="pw" required>
	            </div>
	            <div class="mb-3">
	              <label for="businessNum" class="form-label">사업자 등록 번호</label>
	              <input type="text" class="form-control" id="businessNum" name="companyNo" style="width: 500px;" required>
	            </div>
	            <div class="mb-3">
	              <label for="businessName" class="form-label">업 체 명</label>
	              <input type="text" class="form-control" id="businessName" name="companyName" style="width: 500px;" required>
	            </div>
	            <div class="mb-3">
	              <label for="address" class="form-label">사업장 주소(소재지)</label>
	              <input type="text" class="form-control" id="address" name="companyAdd" required>
	            </div>
	            <div class="mb-3">
	              <label for="conTel" class="form-label">사업장 연락처</label>
	              <input type="text" class="form-control" id="comTel" name="companyTel" required>
	            </div>
	            <div class="mb-3">
	              <label for="comPerson" class="form-label">담당자 성명</label>
	              <input type="text" class="form-control" id="comPerson" name="companyUserName" required>
	            </div>
	            <div class="mb-3">
	              <label for="comFax" class="form-label">담당자 팩스 번호</label>
	              <input type="text" class="form-control" id="comFax" name="companyUserFax" required>
	            </div>
	            <div class="mb-3">
	              <label for="Usertel" class="form-label">담당자 연락처</label>
	              <input type="text" class="form-control" id="Usertel" name="companyUserTel" required>
	            </div>
	            <div class="mb-3">
	              <label for="UserEmail" class="form-label">담당자 이메일</label>
	              <input type="text" class="form-control" id="UserEmail" name="companyUserEmail" required>
	            </div>
	            <div class="mb-3">
	              <label for="siteAdd" class="form-label">사업체 웹사이트</label>
	              <input type="text" class="form-control" id="siteAdd" name="companySiteAdd" required>
	            </div>
	            <div class="mb-3">
	              <label for="etc" class="form-label">업체 비고</label>
	              <input type="text" class="form-control" id="etc" name="companyNote" placeholder="업체 참고 사항을 적어주세요.">
	            </div>
	            <button type="submit" class="btn btn-primary">회원가입</button>
	          </div>
        </form>
      </div>
      <script>
        const businessRadio = document.getElementById('businessRadio');
        const engineerRadio = document.getElementById('engineerRadio');

        const businessForm = document.getElementById('business');
        const engineerForm = document.getElementById('engineer');
	
        function toggleForm() {
          if (businessRadio.checked) {
            businessForm.style.display = 'block';
            engineerForm.style.display = 'none';
          } else if (engineerRadio.checked) {
            businessForm.style.display = 'none';
            engineerForm.style.display = 'block';
          }
        }
        businessRadio.addEventListener('change', toggleForm);
        engineerRadio.addEventListener('change', toggleForm);
      </script>
    </div>
  
  </main>
   
  <footer id="footer" class="footer light-background">
	<div class="container footer-top">
      <div class="row gy-4">
      	
      	<div class="col-lg-2 col-6 footer-links">
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
      	
        <div class="col-lg-2 col-6 footer-links">
          <a href="/d2z/informationHistory"><h4>D/C 역사관</h4></a>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
    
        <div class="col-lg-2 col-6 footer-links">
          <a href="/d2z/informationMarket"><h4>D/C 원자재</h4></a>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
    
        <div class="col-lg-2 col-6 footer-links">
          <a href="/d2z/informationManufacturer"><h4>D/C 제조사</h4></a>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
	
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Across the E-Mart</p>
          <p>ChunCheon-si, Kangwon-do</p>
          <p>Republic of Korea</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+82 10-1234-5678</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>
    </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">OnePage</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>D2Z
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>